.nim {
    display: inline-block;
    margin: 10px;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    padding: 20px;
    font-size: 30px;
}

/*.App{*/
/*    display: inline-block;*/
/*}*/

.btn{
    width: 100px;
    position: center;
    text-align: center;
    padding: 20px;
}